.mid-container {
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem;
}

@media only screen and (max-width: 990px) {
  .mid-container {
    padding: 1rem;
  }
}

.link {
  text-decoration: none !important;
}

/* Login screen */
.login_wrapper {
  background-image: url('./Asset/Login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 98.7vw;
  height: calc(100vh - 80px);
}

.login_form_image {
  background-image: url('./Asset/Login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

/* Popup */
.popup_wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 50%;
  max-height: 500px;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .popup_content {
    width: 90%;
  }

}

.image_hover img {
  transition: all 0.5s ease;
  transform: scale(1);
  height: 350px;
  object-fit: cover;
}

.image_hover:hover img {
  transform: scale(1.3);
}

.hover_div {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
}